form input{
    background: rgba(126, 209, 245, 0.11);
    border: 1px solid rgba(0, 0, 0, 0.2);
   border-radius: 14px;
    padding: 0.8em;
    
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--grey-shade);

}
form input:focus{
    outline: none;
}