/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

:root {
  background-color: rgba(242, 245, 245, 0.678);
}

.Register_page h1 {
  font-family: 'Poppins', sans-serif;
  /* margin-left:43%; */
  /* font-size: 50px; */
  font-size: 3.2rem;
  margin-top: 10%;
  text-align: center;
  color: rgba(45, 43, 43, 0.806);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

}

.input {

  display: flex;
  gap: 1em;
}

input {
  background: rgba(126, 209, 245, 0.11);
  border: 1px solid rgba(0, 0, 0, 0.2);
 
  padding: 0.8em;
  width: 550px;
  font-size: 1rem;
  font-weight: 300;
  font-family: var(--grey-shade);
  /* width: 250px; */
}

/* button {

    padding: 0.7em;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.5em;
    width: 150px;
  
    background: #5956E9;
    box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
 button:hover {
    background: #2f00ff;
    color: #ffffff;
    cursor: pointer;
    
  } */
@media(max-width: 768px) {
  .input {
    flex-direction: column;
  }
}